{% extends "polls/base.html" %}

{% block title %}Humedad{% endblock %}

{% block content %}
<div class="row row-cols-4">
    {% for id, sensor in sensores %}
    <div class="col">
        <div class="card mb-3" style="max-width: 18rem;"> 

            {% if sensor.estado == True %}
            <div class="card-header text-white bg-success">Sensor {{ id }}</div>
            <div class="card-body">
                <h5 class="card-title">Sensor Ok</h5>
                <p class="card-text">El sensor se encuentra operando correctamente.</p>
            </div>
        </div>
            {% else %}
            <div class="card-header text-white bg-danger">Sensor {{ id }}</div>
            <div class="card-body">
                <h5 class="card-title">Sensor con Problemas</h5>
                <p class="card-text">El sensor a presentado un fallo en su funcionamiento, por favor contactar a servicio tecnico para solucionar el problema.</p>
            </div>
        </div>
            {% endif %}
            
    </div>
{% endfor %}
</div>
{% endblock %}